body {
    background-color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.iframe-container {
    background-color: white;
    width: 90%;
    height: 800px;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    margin: 0 auto;
}
  
.buttons-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    width: 1300px;
    overflow-x: auto;
    overflow-y: hidden;
}

.website-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: #333;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    padding: 30px;
    border: 5px;
    border-style:double;
    border-color: beige;
    
}

.website-button:hover{
    border-color: black;
}

.website-button img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.button-label {
    color: #fff;
    font-size: 16px;
    text-align: center;
}